<style include="shared-styles">
    :host {
    display: block;

    padding: 10px;
    }
    
    .spacer {
        flex: 1;
    }

    .user-item {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;
    }

    .user-item:last-of-type {
        margin-bottom: 0;
    }

    .avatar {
        display: inline-block;
        width: 48px;
        height: 48px;
        text-align: center;
        color: #555;
        border-radius: 50%;
        background: #ddd;
        font-size: 13px;
        font-weight: 500;
        line-height: 48px;
        margin-right: 16px;
        text-transform: uppercase;
    }
</style>

<div class="card">
    <template is="dom-repeat" items="[[users]]">
        <div class="user-item">
            <div class="avatar">[[item.firstname.0]][[item.lastname.0]]</div>
            <div>[[item.firstname]] [[item.lastname]]</div>
            <div class="spacer"></div>
            <paper-icon-button icon="my-icons:close"></paper-icon-button>
        </div>
    </template>
</div>
